*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;

}

body {
  background: url('./pple.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); 
  z-index: -1;
}
